*{margin:0;padding:0;}
.page-header {
    padding: 2rem 3rem;
}
.project-tagline {
    margin: 1rem 0;
}
.float-l{
	float: left;
}
.float-r{
	float: right;
}
.menu{
	overflow: auto;
	text-align: center;
	width: 25%;
}
pre, code ,h1{
	display: block;
	background: none repeat scroll 0 0;
	background-color: #555555;
	border-radius:4px 4px 4px 4px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px inset;
	clear: both;
	font-family: 'Consolas', 'Courier', 'Monaco', monospace;
	color: #fff;
	/*background-color: #f8f8f8;*/
	/*margin: 5px 0px;*/
	overflow: inherit;
	/*padding: 10px;*/
	white-space: pre;
	/*text-indent: 1em;*/
}
.textColor{color:#EE82EE;}
