.page-header {
    padding: 2rem 3rem;
}
.project-tagline {
    margin: 1rem 0;
}
.main-content {
    max-width: 75rem;
    padding: 2rem 0rem;
}
.menu{
	text-align: center;
	width: 25%;
}
.menu a{
	padding: 2px 0;
    display: block;
}
